/* Default Css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  background: #c1c1c1;
}
html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background-color: #222;
  outline: none;
}
html::-webkit-scrollbar-thumb:active, body::-webkit-scrollbar-thumb:active {
  background: #007747;
}

body {
  color: #565656;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
a:active, a:hover {
  text-decoration: none;
}

button,
.btn {
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
button:active, button:hover, button:focus,
.btn:active,
.btn:hover,
.btn:focus {
  outline: 0;
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

.form-control:focus {
  color: #000;
  background-color: transparent;
  outline: 0;
  box-shadow: none;
}

.btn:hover,
.btn:focus {
  outline: 0;
  box-shadow: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: #000;
  font-weight: 700;
  margin-bottom: 20px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 48px;
  line-height: 1.3;
}

h2 {
  font-size: 36px;
  line-height: 1.3;
}

h3 {
  font-size: 28px;
  line-height: 1.3;
}

h4 {
  font-size: 24px;
  line-height: 1.2;
}

h5 {
  font-size: 20px;
  line-height: 1.2;
}

h6 {
  font-size: 16px;
  line-height: 1.2;
}

hr {
  margin: 20px 0;
  border-color: #352323;
}

ol {
  list-style: decimal;
}

p:last-child {
  margin-bottom: 0;
}

/* Form */
label {
  color: #ddd;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

*::-moz-selection {
  background: #007747;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #007747;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #007747;
  color: #fff;
  text-shadow: none;
}

/* Placeholder */
*::-moz-placeholder {
  color: #565656;
  font-size: 16px;
  opacity: 1;
}

*::placeholder {
  color: #565656;
  font-size: 16px;
  opacity: 1;
}

/* Button */
.btn-theme {
  color: #fff;
  border-color: #007747;
  background: #007747;
}
.btn-theme:hover {
  background: #007747;
  color: #fff;
  border-color: #007747;
}

.btn-rounded {
  border-radius: 100% !important;
}

.btn-square {
  border-radius: 0 !important;
}

/* Bg Color */
.bg-gray {
  background: #ddd;
}

.bg-white {
  background: #fff;
}

.bg-black {
  background: #000;
}

.bg-theme {
  background: #007747;
}

.bg-dark {
  background-color: #101a23 !important;
}

.bg-off-white {
  background-color: #f7f7f7;
}

.bg-off-white-2 {
  background-color: #f1f8ff;
}

.bg-blue {
  background-color: #4c87ff !important;
}

.bg-yellow {
  background-color: #fea116 !important;
}

.bg-pink {
  background-color: #fc4557 !important;
}

.bg-egg-blue {
  background-color: #1cb5a3 !important;
}

.bg-purple {
  background-color: #5851a7 !important;
}

/* Text Color */
.gray-color {
  background: #ddd;
}

.white-color {
  color: #fff;
}

.black-color {
  color: #000;
}

.theme-color {
  color: #007747;
}

/* Others Common Css Here :) */
.table-row {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.fix {
  overflow: hidden;
}

.separator {
  border-top: 1px solid #f2f2f2;
}

[data-overlay] {
  position: relative;
  z-index: 1;
}
[data-overlay]::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
}

[data-overlay=light]::before {
  background-color: #fff;
}

[data-overlay=dark]::before {
  background-color: #000a2d;
}

[data-overlay=theme]::before {
  background-color: #007747;
}

[data-opacity="1"]::before {
  opacity: 0.1;
}

[data-opacity="2"]::before {
  opacity: 0.2;
}

[data-opacity="3"]::before {
  opacity: 0.3;
}

[data-opacity="4"]::before {
  opacity: 0.4;
}

[data-opacity="5"]::before {
  opacity: 0.5;
}

[data-opacity="6"]::before {
  opacity: 0.6;
}

[data-opacity="7"]::before {
  opacity: 0.7;
}

[data-opacity="8"]::before {
  opacity: 0.8;
}

[data-opacity="9"]::before {
  opacity: 0.9;
}

@media (min-width: 1400px) {
  .container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.container {
    max-width: 1326px;
  }
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 30px;
}

.row {
  --bs-gutter-x: 30px;
}

.mobile-menu-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999;
}
.mobile-menu-wrapper .menu-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  background: #dc3545;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.mobile-menu-wrapper .menu-overlay {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  cursor: url(../img/icon/close.png), auto;
  -webkit-transition: all 0.3s ease-in 0.6s;
  -o-transition: all 0.3s ease-in 0.6s;
  transition: all 0.3s ease-in 0.6s;
}
.mobile-menu-wrapper .agenia-mobile-menu {
  background: #fff;
  width: 375px;
  height: 100%;
  top: 0;
  z-index: 99;
  position: fixed;
  left: -100%;
  opacity: 0;
  visibility: hidden;
  padding: 30px 15px;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: all 0.6s cubic-bezier(0.9, 0.03, 0, 0.96) 0s;
  -o-transition: all 0.6s cubic-bezier(0.9, 0.03, 0, 0.96) 0s;
  transition: all 0.6s cubic-bezier(0.9, 0.03, 0, 0.96) 0s;
  overflow-y: auto;
}
.mobile-menu-wrapper.active .menu-overlay {
  visibility: visible;
  left: 0;
  opacity: 1;
  -webkit-transition: all 0.6s ease-out 0s;
  -o-transition: all 0.6s ease-out 0s;
  transition: all 0.6s ease-out 0s;
}
.mobile-menu-wrapper.active .agenia-mobile-menu {
  opacity: 1;
  visibility: visible;
  left: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.9, 0.03, 0, 0.96) 0.6s;
  -o-transition: all 0.3s cubic-bezier(0.9, 0.03, 0, 0.96) 0.6s;
  transition: all 0.3s cubic-bezier(0.9, 0.03, 0, 0.96) 0.6s;
}

.agenia-mobile-menu .mean-container .mean-bar {
  padding: 0;
  min-height: auto;
  background: none;
}
.agenia-mobile-menu .mean-container .mean-bar a.meanmenu-reveal {
  display: none !important;
}
.agenia-mobile-menu .mean-container .mean-nav {
  background: none;
  margin-top: 0;
}
.agenia-mobile-menu .mean-container .mean-nav > ul {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  display: block !important;
}
.agenia-mobile-menu .mean-container .mean-nav > ul > li:first-child > a {
  border-top: 0 !important;
}
.agenia-mobile-menu .mean-container .mean-nav ul li a {
  width: 100%;
  padding: 10px 0;
  color: #000;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 500;
}
.agenia-mobile-menu .mean-container .mean-nav ul li .mean-expand {
  margin-top: 0;
  padding: 0 !important;
  display: inline-block;
  width: 40px !important;
  height: 45px;
  line-height: 50px;
  font-weight: 400;
  border-left: 2px solid rgba(0, 0, 0, 0.2) !important;
}
.agenia-mobile-menu .mean-container .mean-nav ul li .mean-expand:hover {
  background: transparent;
  color: #007747;
}
.agenia-mobile-menu .mean-container .mean-nav ul li .mean-expand:before {
  content: "\f067";
  font-family: "Font Awesome 6 Pro";
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.agenia-mobile-menu .mean-container .mean-nav ul li .mean-expand.mean-clicked {
  color: #007747;
}
.agenia-mobile-menu .mean-container .mean-nav ul li .mean-expand.mean-clicked:before {
  content: "\f068";
}
.agenia-mobile-menu .mean-container .mean-nav ul li .sub-menu li a {
  width: 80%;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  color: #222;
  padding: 10px 10%;
  opacity: 1;
}

.header-area {
  padding: 10px 0;
}

.logo a {
  display: inline-block;
}
.logo a img {
  width: 80px;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-menu ul li {
  display: inline-block;
  margin: 0 15px;
}
.main-menu ul li:hover > a {
  color: #007747;
}
.main-menu ul li a {
  display: block;
  color: #000;
  font-size: 20px;
  font-weight: 500;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .main-menu ul li a {
    font-size: 18px;
  }
}

.header-btn a {
  display: inline-block;
  color: #fff;
  background: #007747;
  padding: 14px 25px;
  border-radius: 5px;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .header-btn a {
    padding: 14px 15px;
  }
}
.header-btn a i {
  margin-left: 5px;
}
.header-btn a:hover {
  background: #0db04b;
}

.menu-bar {
  margin-left: 20px;
}
.menu-bar a {
  display: inline-block;
  font-size: 16px;
  background: #000;
  color: #fff;
  padding: 14px 20px;
  border-radius: 5px;
}
.menu-bar a:hover {
  background: #0db04b;
}

.wpcf7-spinner {
  display: none;
}

.hero-slider:hover .slick-prev,
.hero-slider:hover .slick-next {
  visibility: visible;
  opacity: 1;
}
.hero-slider .slick-prev {
  position: absolute;
  left: 30px;
  top: 50%;
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 50%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  border: 0;
  color: #007747;
}
.hero-slider .slick-prev:hover {
  color: #fff;
  background: #007747;
}
.hero-slider .slick-next {
  position: absolute;
  right: 30px;
  top: 50%;
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 50%;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  border: 0;
  color: #007747;
}
.hero-slider .slick-next:hover {
  color: #fff;
  background: #007747;
}

.hero-slide {
  position: relative;
  z-index: 1;
  height: 750px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-slide:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  z-index: -1;
}

.hero-content {
  text-align: center;
}
.hero-content .title {
  color: #fff;
  font-size: 60px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: capitalize;
}
.hero-content p {
  color: #fff;
  font-size: 20px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero-content .read-more {
  display: inline-block;
  color: #fff;
  background: #007747;
  padding: 14px 25px;
  border-radius: 5px;
}
.hero-content .read-more i {
  margin-left: 5px;
}
.hero-content .read-more:hover {
  background: #0db04b;
}

.noticeboard-wrapper {
  background: #f5f5f5;
  padding: 30px;
  border-radius: 5px;
}
.noticeboard-wrapper .n-heading {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.noticeboard-wrapper .n-heading .title {
  font-size: 24px;
  color: #000;
  margin-bottom: 0;
  font-weight: 600;
  position: relative;
  z-index: 1;
  padding-bottom: 3px;
}
.noticeboard-wrapper .n-heading .title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 3px;
  background: #000;
  border-radius: 5px;
}
.noticeboard-wrapper .n-heading .view-all {
  display: inline-block;
  color: #fff;
  background: #007747;
  padding: 5px 25px;
  border-radius: 5px;
  font-size: 16px;
}
.noticeboard-wrapper .n-heading .view-all i {
  margin-left: 5px;
}
.noticeboard-wrapper .n-heading .view-all:hover {
  background: #0db04b;
}
.noticeboard-wrapper .n-list-wrap {
  max-height: 500px;
  overflow-y: auto;
}
.noticeboard-wrapper .n-list-wrap .n-list {
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.noticeboard-wrapper .n-list-wrap .n-list .date {
  color: #007747;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500;
}
.noticeboard-wrapper .n-list-wrap .n-list h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0;
}
.noticeboard-wrapper .n-list-wrap .n-list h4 a {
  color: #000;
}
.noticeboard-wrapper .n-list-wrap .n-list h4 a:hover {
  color: #007747;
}

.message-thumb-wrap img {
  width: 100%;
}

.message-content-wrap h3 {
  font-size: 24px;
  color: rgb(0, 0, 0);
  margin-bottom: 0px;
  font-weight: 600;
  position: relative;
  z-index: 1;
  padding-bottom: 3px;
}
.message-content-wrap h3:before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 80px;
  height: 3px;
  background: rgb(0, 0, 0);
  border-radius: 5px;
}

.footer-bottom {
  background: #000;
  padding: 15px 0;
}

.copyright-text {
  text-align: center;
  color: #fff;
}

.footer-widget {
  margin-bottom: 30px;
}
.footer-widget .widget_title h5 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #18181B;
  margin-bottom: 25px;
}
.footer-widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-widget ul li {
  display: block;
  margin-bottom: 10px;
}
.footer-widget ul li a {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565656;
}
.footer-widget ul li a:hover {
  color: #0db04b;
}

.footer-widget.widget_media_image img {
  max-width: 190px !important;
}

.footer-info h3 {
  font-size: 22px;
  margin-bottom: 10px;
}
.footer-info p {
  color: #565656;
}

.footer-social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #000;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
  text-align: center;
  font-size: 18px;
}
.footer-social a:hover {
  background: #0db04b;
}

/*------------------------------------------------------------------------------
	Template Name: Starter Project Template.
-------------------------------------------------------------------------------*/

/*# sourceMappingURL=main.css.map */
