@use "common" as *;

.header-area {
  padding: 10px 0;
}

.logo {
  a {
    display: inline-block;

    img {
      width: 80px;
    }
  }
}

.main-menu {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 15px;

      &:hover {
        > a {
          color: $theme-color;
        }
      }

      a {
        display: block;
        color: #000;
        font-size: 20px;
        font-weight: 500;
        @include mq(xl){
          font-size: 18px;
        }
      }
    }
  }
}

.header-btn {
  a {
    display: inline-block;
    color: #fff;
    background: $theme-color;
    padding: 14px 25px;
    border-radius: 5px;

    @include mq(xl){
      padding: 14px 15px;
    }

    i {
      margin-left: 5px;
    }

    &:hover {
      background: $hover-color;
    }

  }
}

.menu-bar{
  margin-left: 20px;
  a {
    display: inline-block;
    font-size: 16px;
    background: #000;
    color: #fff;
    padding: 14px 20px;
    border-radius: 5px;
    &:hover{
      background: $hover-color;
    }
  }
}

